.page {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

main {
    flex: 1;
}

.sidebar {
    background-color: var(--dark-medium-color);
}

.toolbar-title-election-badge {
    border-radius: 6px;
    font-weight: 500;
    padding: 2px 10px;
    transition: background-color .4s ease,color .4s ease;
    background-color: var(--selected-background-color);
    color: var(--selected-text-color);
}

.top-menu {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 0.5rem
}


.top-row {
    background-color: var(--dark-medium-color);
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
            text-decoration: underline;
        }

        .top-row ::deep a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
    }

        .top-row ::deep a, .top-row ::deep .btn-link {
            margin-left: 0;
        }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth ::deep a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }
}
