@inherits LayoutComponentBase
@using System.Globalization
@using Microsoft.AspNetCore.Components.Authorization
@using PollingStationApp.Models
@using PollingStationApp.Services.Abstractions
@inject IUserOnlineService UserOnlineService

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div class="top-menu">
                @if (pollingStation != null)
                {
                    <span class="toolbar-title-election-badge">
                        nr. @pollingStation.Id @pollingStation.Name
                    </span>
                }
                <span class="text-muted">@DateTime.Now.ToString("dd MMM yyyy", new CultureInfo("ro-RO"))</span>
            </div>
            <a class="external-link-button" href="MicrosoftIdentity/Account/SignOut">Log out</a>
        </div>

        <article class="page-content">
            @Body
        </article>
    </main>
</div>

@code {
    private PollingStation? pollingStation;

    protected override async Task OnInitializedAsync()
    {
        try
        {
           
            UserOnlineService.OnChange += OnUserOnlineServiceChanged;
            await UserOnlineService.InitializationComplete.Task;
            pollingStation = UserOnlineService.PollingStation;
            StateHasChanged();
            Console.WriteLine($"MainLayout using UserOnlineService [{UserOnlineService.InstanceId}]");
            Console.WriteLine(pollingStation);

        }
        catch (Exception ex)
        {
            Console.WriteLine($"MainLayout: Initialization error: {ex.Message}");
        }
    }

    private async void OnUserOnlineServiceChanged()
    {
        await InvokeAsync(StateHasChanged);
    }

}