@inherits LayoutComponentBase
@attribute [StreamRendering]
@using System.Globalization
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@using VotingApp.Models
@using VotingApp.Services.Abstractions
@inject IPollingStationClient PollingStationClient
@inject AuthenticationStateProvider authStateProvider

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div class="top-menu">
                <span class="toolbar-title-election-badge">nr. @pollingStation?.Id @pollingStation?.Name</span>
                <span class="text-muted">@DateTime.Now.ToString("dd MMM yyyy", new CultureInfo("ro-RO"))</span>
            </div>
            <a class="external-link-button" href="MicrosoftIdentity/Account/SignOut">Log out</a>
        </div>

        <article class="page-content">
            @Body
        </article>
    </main>
</div>

@code{
    private string _pollingStationId = "2";
    private PollingStation? pollingStation ;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var state = await authStateProvider.GetAuthenticationStateAsync();
            var user = state.User;
            PollingStationClient.SetUser(user);
            pollingStation = await PollingStationClient.GetStationById(_pollingStationId);
            Console.WriteLine(pollingStation);

        }catch (Exception ex) // Catch exceptions from InitializeAndRegisterAsync
        {
            Console.WriteLine($"MainLayout: Initialization error: {ex.Message}");
        }
    }

}